// Spaces
@each $space, $value in $token-spaces {
  .pb-#{$space} {
    padding-bottom: $value;
    @media #{$media-query-m} {
      padding-bottom: $value;
    }
    @media #{$media-query-l} {
      padding-bottom: $value;
    }
  }
  .pt-#{$space} {
    padding-top: $value;
    @media #{$media-query-m} {
      padding-top: $value;
    }
    @media #{$media-query-l} {
      padding-top: $value;
    }
  }

  .mb-#{$space} {
    margin-bottom: $value;
    @media #{$media-query-m} {
      margin-bottom: $value;
    }
    @media #{$media-query-l} {
      margin-bottom: $value;
    }
  }
  .mt-#{$space} {
    margin-top: $value;
    @media #{$media-query-m} {
      margin-top: $value;
    }
    @media #{$media-query-l} {
      margin-top: $value;
    }
  }

  .mb-4xl {
    margin-bottom: $space-4xl;
    @media #{$media-query-m} {
      margin-bottom: $space-4xl;
    }
    @media #{$media-query-l} {
      margin-bottom: $space-4xl;
    }
  }
}


// Visibility
.hidden-m {
  @media #{$media-query-m} {
    display: none !important;
  }
}
.hidden-l {
  @media #{$media-query-l} {
    display: none !important;
  }
}

.hidden-m-down {
  @media #{$media-query-m-down} {
    display: none !important;
  }
}
.hidden-l-down {
  @media #{$media-query-l-down} {
    display: none !important;
  }
}