/* VUE DESIGN SYSTEM SPACING HELPERS
--------------------------------------------- */

$spacing-ratio: $line-height-250;

/*
  INSET-SPACE: For interface containers.
  INSET-SQUISH-SPACE: For buttons, form elements, cells.
  STACK-SPACE: For vertically stacked content.
  INLINE-SPACE: For things displayed inline.
*/

// Create inset-space
//
// @param  {Number} inset-space to set
@mixin inset-space($value) {
  padding: $value;
}

// Create inset-squish-space
//
// @param  {Number} inset-squish-space to set
@mixin inset-squish-space($value) {
  padding: calc((#{$value} / #{$spacing-ratio}) - 1px) $value calc(#{$value} / #{$spacing-ratio});
}

// Create stack-space
@mixin child-indent-bottom($space) {
  > *:not(:last-child) {
    margin-bottom: $space;
  }
}
@mixin child-indent-top($space) {
  > *:not(:first-child) {
    margin-top: $space;
  }
}

@mixin child-indent-right($space) {
  > *:not(:last-child) {
    margin-right: $space;
  }
}
@mixin child-indent-left($space) {
  > *:not(:first-child) {
    margin-left: $space;
  }
}
@mixin child-indent-right-rtl($space) {
  > *:not(:first-child) {
    margin-right: $space;
  }
}
@mixin child-indent-left-rtl($space) {
  > *:not(:last-child) {
    margin-left: $space;
  }
}

@mixin indent-top($space: $space-xs, $indent-type: "margin") {
  #{$indent-type}-top: $space;
}

@mixin indent-bottom($size: "middle", $indent-type: "margin") {
  #{$indent-type}-bottom: $space;
}
