@import 'vue-multiselect/dist/vue-multiselect.min.css';
@import "toast";

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  font-size: $font-size-200;
}

body {
  overflow-y: hidden;
}

body,
#__nuxt,
#__layout,
.mc-tm-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  // убирает превращение х в знак умножения между цифр
  font-variant-ligatures: none !important;
}

body {
  margin: 0;
  overflow-y: auto;
  word-break: break-word;

  font-family: $font-family-main;
  font-size: $font-size-200;
  line-height: $line-height-200;
  color: $color-black;
  font-variant: none !important;
  font-feature-settings: normal !important;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

[role="button"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

input {
  overflow: visible;
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration-skip-ink: auto;
}

::selection {
  background: fade-out($color-purple, 0);
  color: $color-white;
}

::-moz-selection {
  background: fade-out($color-purple, 0);
  color: $color-white;
}

input,
textarea,
[contenteditable] {
  caret-color: $color-purple;
}

button {
  -webkit-appearance: none;
}

a,
button {
  outline: none;

  &:focus {
    outline: none;
  }
}

hr {
  box-sizing: content-box;
  overflow: visible;
}

pre {
  font-size: 0.7em;
}

/**
 * Global classes
 */

// Spaces
@each $space, $value in $token-spaces {
  .pb-#{$space} {
    padding-bottom: $value;
    @media #{$media-query-m} {
      padding-bottom: $value;
    }
    @media #{$media-query-l} {
      padding-bottom: $value;
    }
  }
  .pt-#{$space} {
    padding-top: $value;
    @media #{$media-query-m} {
      padding-top: $value;
    }
    @media #{$media-query-l} {
      padding-top: $value;
    }
  }

  .mb-#{$space} {
    margin-bottom: $value;
    @media #{$media-query-m} {
      margin-bottom: $value;
    }
    @media #{$media-query-l} {
      margin-bottom: $value;
    }
  }
  .mt-#{$space} {
    margin-top: $value;
    @media #{$media-query-m} {
      margin-top: $value;
    }
    @media #{$media-query-l} {
      margin-top: $value;
    }
  }
}


// Visibility
.hidden-xs {
  @media #{$media-query-xs} {
    display: none !important;
  }
}
.hidden-s {
  @media #{$media-query-s} {
    display: none !important;
  }
}
.hidden-m {
  @media #{$media-query-m} {
    display: none !important;
  }
}
.hidden-l {
  @media #{$media-query-l} {
    display: none !important;
  }
}

.hidden-xs {
  @media #{$media-query-xs-down} {
    display: none !important;
  }
}
.hidden-s-down {
  @media #{$media-query-s-down} {
    display: none !important;
  }
}
.hidden-m-down {
  @media #{$media-query-m-down} {
    display: none !important;
  }
}
.hidden-l-down {
  @media #{$media-query-l-down} {
    display: none !important;
  }
}

.color {
  @each $name, $color in $token-colors {
    &--#{$name} {
      color: $color;
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotate-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-up-with-margin {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


:root {
  @each $name, $radius in $token-radius {
    #{'--radius-'}#{$name}: #{$radius};
  }
  @each $name, $color in $token-colors {
    #{'--color-'}#{$name}: #{$color};
  }
  @each $name, $size in $token-icon-sizes {
    #{'--size-'}#{$name}: #{$size};
  }
  @each $name, $space in $token-spaces {
    #{'--space-'}#{$name}: #{$space};
  }
  @each $name, $shadow in $token-shadows {
    #{'--shadow-'}#{$name}: #{$shadow};
  }
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-semi-bold: #{$font-weight-semi-bold};
  --font-weight-bold: #{$font-weight-bold};

  @each $name, $height in $token-line-heights {
    #{'--line-height-'}#{$name}: #{$height};
  }
}
