$vxe-table-border-color: $color-hover-gray;
$vxe-table-header-background-color: $color-white;
$vxe-table-row-hover-background-color: $color-hover-gray;
$vxe-table-row-hover-striped-background-color: $color-hover-gray;
$vxe-table-row-current-background-color: $color-lighter-blue;
$vxe-table-row-hover-current-background-color: $color-lighter-blue;
$vxe-table-row-cheched-background-color: $color-lighter-blue;
$vxe-table-row-hover-cheched-background-color: $color-lighter-blue;