.toasted-container {
  $toasted-container-name: &;
  z-index: $z-index-toasted !important;
  .toasted {
    &.mc-toast {
      padding: $space-100 $space-400 $space-100 $space-150;
      &--primary {
        border-radius: $radius-100;
        background-color: $color-black;
        color: $color-white;
        font-size: $font-size-200;
        line-height: $line-height-200;

        .action {
          text-decoration: none;
          text-transform: none;
          margin: 0;
          font-size: $font-size-200;
          line-height: $line-height-200;
          &.mc-toast__action {
            color: fade-out($color-white, 0.5);

            &--outline {
              color: $color-white;
              padding: $space-100 $space-150;
              border: 1px solid $color-outline-gray;
              border-radius: $radius-50;
            }
          }
          &:not(:last-child) {
            margin-right: $space-50;
          }
          &:first-of-type {
            margin-left: $space-600;
          }
          &:last-child {
            margin-right: -$space-300; // TODO: refactor negative margin
          }
        }
      }
      .las,
      i {
        @include size($space-300);
        font-size: 24px;
        margin-right: $space-150;
      }
    }
  }
  @at-root {
    html[dir="rtl"] {
      #{$toasted-container-name} {
        .toasted {
          padding: $space-100 $space-150 $space-100 $space-400;
          &.mc-toast {
            &--primary {
              .action {
                &:last-child {
                  margin-right: unset;
                  margin-left: -$space-300; // TODO: refactor negative margin
                }
                &:first-of-type {
                  margin-left: unset;
                  margin-right: $space-600;
                }
                &:not(:last-child) {
                  margin-right: unset;
                  margin-left: $space-50;
                }
                &:first-of-type:last-child {
                  margin-left: -$space-300; // TODO: refactor negative margin
                }
              }
            }
            .las,
            i {
              margin-right: unset;
              margin-left: $space-150;
            }
          }
        }
      }
    }
  }
}
