/**
 * @tokens Animations
 * @presenter Animation
 */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotate-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-up-with-margin {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

$animation-slide-up: slide-up 0.3s;
$animation-slide-up-with-margin: slide-up-with-margin 0.3s;
$animation-spinner: rotate 1.2s infinite cubic-bezier(0.55, 0, 0.1, 1);
$animation-glow: glow 1.5s ease-in-out infinite;