/**
 * @tokens Border Radius
 * @presenter BorderRadius
 */

$radius-square: 0px;
$radius-50: 4px; /* Additional token */
$radius-100: 8px;
$radius-150: 12px; /* Additional token */
$radius-200: 16px;
$radius-300: 24px;
$radius-1250: 100px;
$radius-rounded: 300px;
$radius-circle: 50%;

$token-radius: (
  "square": $radius-square,
  "50": $radius-50,
  "100": $radius-100,
  "150": $radius-150,
  "200": $radius-200,
  "300": $radius-300,
  "1250": $radius-1250,
  "rounded": $radius-rounded,
  "circle": $radius-circle
);
