/**
 * @tokens Shadows
 * @presenter Shadow
 */

$shadow-xs: 0 2px 8px rgba(0, 0, 0, 0.16);
$shadow-s: 0 4px 12px rgba(0, 0, 0, 0.16);
$shadow-m: 0 12px 32px rgba(0, 0, 0, 0.24);
$shadow-l: 0 24px 40px rgba(0, 0, 0, 0.16);
