/**
 * @tokens Colors
 * @presenter Color
 */
//neutral colors
$color-black: #202427; /* Цвет основного текста */
$color-dark-gray: #5C6670; /* Иконки, доп.текст, менее активные эл-ты */
$color-gray: #8F99A3; /* Для плашек, хорошо держит форму */
$color-outline-gray: #C7CCD1; /* Для обводок */
$color-hover-gray: #EDF0F3; /* Ховеры и неактивные эл-ты */
$color-bg-gray: #E5E5E5; /* Бэкграунд */
$color-white: #FFFFFF; /* Основной фон */
//main colors
$color-hover-blue: #0A54C2; /* Кнопки, ссылки, выделение активных элементов */
$color-blue: #2578F4; /* Кнопки, ссылки, выделение активных элементов и иконки */
$color-light-blue: #92BBFA; /* Текст на accent blue */
$color-lighter-blue: #E1EDFF; /* Выбранные элементы */
//additional colors
$color-dark-orange: #BD8400; /* Кнопки, статус данных */
$color-orange: #FCB100; /* Кнопки, статус данных */
$color-yellow: #FFC60A;
$color-dark-red: #D5260B; /* Красные кнопки отмены */
$color-red: #F5563D; /* Красные кнопки отмены */
$color-pale-pink: #FC9283;
$color-dark-green: #218321; /* Цифры и положительные действия */
$color-green: #4DCB4D; /* Зелёные кнопки */
$color-toxic: #E8F443; /* Кнопки, статус данных */
$color-purple: #7835FF; /* Статус данных */
$color-ultraviolet: #C41CFD; /* Статус данных */
$color-pinkish: #F073B1; /* Статус данных */
$color-azure: #0A85C2; /* Статус данных */

$color-transparent: transparent; /* Прозрачный фон */

$token-colors: (
  "black": $color-black,
  "dark-gray": $color-dark-gray,
  "gray": $color-gray,
  "outline-gray": $color-outline-gray,
  "hover-gray": $color-hover-gray,
  "bg-gray": $color-bg-gray,
  "white": $color-white,
  "hover-blue": $color-hover-blue,
  "blue": $color-blue,
  "light-blue": $color-light-blue,
  "lighter-blue": $color-lighter-blue,
  "dark-orange": $color-dark-orange,
  "orange": $color-orange,
  "yellow": $color-yellow,
  "dark-red": $color-dark-red,
  "red": $color-red,
  "pale-pink": $color-pale-pink,
  "dark-green": $color-dark-green,
  "green": $color-green,
  "toxic": $color-toxic,
  "purple": $color-purple,
  "ultraviolet": $color-ultraviolet,
  "pinkish": $color-pinkish,
  "azure": $color-azure,
  "transparent": $color-transparent,
);
