/**
  * @tokens Gradients
  * @presenter Gradient
  */
$gradient-pink: linear-gradient(180deg, #F5576C 0%, #F093FB 100%); /* Фирменный цвет личного кабинета TODO DROP?*/
$gradient-violet: linear-gradient(180deg, #E41AFE 0%, var(--color-main-dark) 100%); /* Столбики в графике 5 порядка TODO DROP?*/
$gradient-blue: linear-gradient(180deg, #1ADBFE 0%, #3580F8 100%); /* Нотификации и столбики в графике 4 порядка TODO DROP?*/
$gradient-yellow: linear-gradient(180deg, #FEE41A 0%, #F89B35 100%); /* Столбики в графике 3 порядка TODO DROP?*/
$gradient-green: linear-gradient(180deg, #C9DD4C 0%, #63BE7E 100%); /* Столбики в графике 2 порядка TODO DROP?*/
$gradient-red: linear-gradient(180deg, #F26567 0%, #F79440 100%); /* Столбики в графике 1 порядка TODO DROP?*/
$gradient-primary-radial: radial-gradient(rgb(179, 211, 255), rgb(62, 132, 244)); /* Radial gradient example TODO DROP?*/
$gradient-purple-blue: linear-gradient(270deg, #18bfe3 17%, var(--color-main) 70%); /*Градиент баннера для криптовалют TODO drop old crypto color*/

// App new crypto banner
$gradient-light-blue: linear-gradient(280deg, #d6e8ff 5%, #efe9ff 95%); /*Градиент новых криптовалют*/

//‘App gradients/Balance’: [Primary/Hover Purple, Primary/Purple]:
$gradient-purple: linear-gradient(90deg, var(--color-main-dark) 0%, var(--color-main) 100%); /* Основной градиент для MCPay */
//‘App gradients/FastPayouts’: [Primary/Hover Purple, Transactions/Violet pink]:
$gradient-purple-pink: linear-gradient(90deg, var(--color-main-dark) 2%, #E986FF 100%); /*Градиент промоакции*/
//‘App gradients/Studio’: [Transactions/Orchid, Primary/Hover Purple]:
$gradient-dark-blue: linear-gradient(90deg, #B265FF 0%, var(--color-main-dark) 100%); /*Градиент автоплатежей*/
//‘App gradients/CryptoEuro’: [Transactions/Lavanda, Transactions/Royal Blue]:
$gradient-blue-purple: linear-gradient(90deg, #C55FE8 0%, #3C88FA 100%); /*Градиент промоакции по крипте*/
