/**
 * @tokens Media Queries
 * @presenter Spacing
 */

$media-query-xs: "(min-width: 375px)";
$media-query-s: "(min-width: 480px)";
$media-query-m: "(min-width: 768px)";
$media-query-l: "(min-width: 1024px)";
$media-query-xl: "(min-width: 1440px)";

$media-query-xs-down: "(max-width: 374px)";
$media-query-s-down: "(max-width: 479px)";
$media-query-m-down: "(max-width: 767px)";
$media-query-l-down: "(max-width: 1023px)";
$media-query-xl-down: "(max-width: 1439px)";

