/**
* @tokens Sizes
* @presenter Spacing
*/

$height-footer: 64px;
$height-header: 65px;
$height-top-line: 56px;
$height-table-head: 48px;
$height-auth: 665px;

$tappable-element-xl: 72px;
$tappable-element-l: 48px;
$tappable-element-m: 40px;
$tappable-element-s: 32px;
$tappable-element-xs: 24px;
$tappable-element-xxs: 16px;

$avatar-xs: 24px;
$avatar-s: 32px;
$avatar-m: 42px;
$avatar-l: 56px;
$avatar-xl: 92px;

$separator-s: 2px;

$separator-xs: 1px;

$panel-xl: 500px;
$panel-l: 380px;
$panel-m: 320px;
$panel-s: 250px;

$container-m: 1064px;
$container-s: 810px;

$site-width-m: 1200px;
