/**
* @tokens Sizes
* @presenter Spacing
*/

$size-50: 4px; /* Additional token */
$size-100: 8px;
$size-150: 12px; /* Additional token */
$size-200: 16px;
$size-250: 20px; /* Additional token */
$size-300: 24px;
$size-400: 32px;
$size-500: 40px;
$size-600: 48px;
$size-700: 56px;
$size-800: 64px;
$size-900: 72px;
$size-1000: 80px;

$token-avatar-sizes: (
  300: $size-300,
  400: $size-400,
  500: $size-500,
  600: $size-600,
  700: $size-700,
  800: $size-800,
  900: $size-900,
  1000: $size-1000,
);

$token-icon-sizes: (
  200: $size-200,
  300: $size-300,
  400: $size-400,
  500: $size-500,
  600: $size-600,
  700: $size-700,
  800: $size-800,
  900: $size-900,
  1000: $size-1000,
);

