/**
 * @tokens Spacings
 * @presenter Spacing
 */

$space-3s: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-3xl: 48px;
$space-4xl: 64px;
$space-5xl: 128px;