/**
 * @tokens Z-Index
 */

$z-index-sticky-tabs: 49;
$z-index-dropdown: 100;
$z-index-sticky: 100;
$z-index-modal: 9999;
$z-index-top-line: 9999;
$z-index-header: 10000;
$z-index-notification: 10001;
$z-index-overlay: 10002;
$z-index-toasted: 10003;
